.testSquare {
  position: fixed;
  width: 175px;
  height: 14px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 54px;
  border: 1px solid red;
  box-sizing: border-box; }

#fullWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  #fullWrapper #mbrtWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
  #fullWrapper .mainSection {
    position: relative;
    width: 100%;
    height: 100%;
    float: left; }
  #fullWrapper .introSection .introLetter {
    position: absolute;
    width: 1296px;
    height: 680px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    #fullWrapper .introSection .introLetter h1, #fullWrapper .introSection .introLetter h2, #fullWrapper .introSection .introLetter p {
      position: relative;
      float: left;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      /* Fix for IE7 */
      *display: inline;
      /* Fix for IE7 */
      box-sizing: border-box;
      margin: 0; }
    #fullWrapper .introSection .introLetter h1 {
      margin-bottom: 30px; }
    #fullWrapper .introSection .introLetter h2, #fullWrapper .introSection .introLetter p {
      margin-bottom: 50px; }
    #fullWrapper .introSection .introLetter .introTitle {
      height: 75px;
      line-height: 75px;
      font-size: 52pt;
      border-right: 4pt solid #9a999e;
      padding-right: 25px; }
    #fullWrapper .introSection .introLetter .introParagraph {
      font-size: 19pt;
      line-height: 23pt;
      color: #9a999e; }
    #fullWrapper .introSection .introLetter .introQuotes {
      font-size: 28pt;
      height: 28px;
      line-height: 28px; }
  #fullWrapper .coverSection .nameSection {
    position: absolute;
    width: 100%;
    height: 110px;
    font-size: 52pt;
    text-align: center;
    margin: auto;
    top: 0;
    bottom: 0; }
  #fullWrapper .coverSection .footLogo {
    position: absolute;
    width: 176px;
    height: 32px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 45px; }

#indexWrapper #mainLogo {
  position: absolute;
  width: 507px;
  height: 74px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 434px;
  right: 0; }
  #indexWrapper #mainLogo img {
    position: absolute;
    width: 100%; }

#servicesWrapper #servicesLetter .introParagraph {
  margin-bottom: 124px; }
#servicesWrapper #servicesLetter .introQuotes {
  margin-bottom: 57px; }
#servicesWrapper #servicesLetter #servicesList {
  position: relative;
  width: 100%; }
  #servicesWrapper #servicesLetter #servicesList #column-1 {
    width: 283px; }
  #servicesWrapper #servicesLetter #servicesList #column-2 {
    width: 362px; }
  #servicesWrapper #servicesLetter #servicesList #column-3 {
    width: 368px; }
  #servicesWrapper #servicesLetter #servicesList #column-4 {
    width: 283px; }
  #servicesWrapper #servicesLetter #servicesList th {
    height: 65px;
    vertical-align: top;
    text-align: left;
    font-size: 20pt;
    line-height: 25pt;
    font-family: serif;
    font-weight: bolder; }
  #servicesWrapper #servicesLetter #servicesList td {
    font-size: 9pt;
    line-height: 19pt;
    letter-spacing: 0.9pt;
    text-transform: uppercase; }

/*# sourceMappingURL=app.css.map */
