@import 'global/mixins';
@import 'global/vars';

.testSquare{
	position: fixed;
	width: 100%;
	height: 96px;
	margin: auto;
	bottom: 398px; 
	left: 0;
	border: 1px solid red;
	box-sizing: border-box;
}

// GENERAL
	#fullWrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		#mbrtWrapper{
			position: absolute;
			width: 100%;
			height: 100%;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			-webkit-font-smoothing: antialiased !important;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

			.mainSection{
				position: absolute;
				width: 100%;
				height: 100%;
				@include transitions(0.9s);
			}

			.introSection{
				.introLetter{
					position: absolute;
					width: 1296px;
					height: 680px;
					margin: auto;
					top: 0; bottom: 0; left: 0; right: 0;

					h1, h2, p{
						@include displayLeft();
						box-sizing: border-box;
						margin: 0;
					}

					h1{
						margin-bottom: 30px;
					}

					h2, p{
						margin-bottom: 50px;
					}

					.introTitle{
						height: 75px;
						line-height: 75px;
						font-size: 52pt;
						border-right: 4pt solid $mid-gray;
						padding-right: 25px;
					}

					.introParagraph{
						font-size: 19pt;
						line-height: 23pt;
						color: $mid-gray;
					}

					.introQuotes{
						font-size: 28pt;
						height: 28px;
						line-height: 28px;
					}
				}
			}

			.coverSection{
				.nameSection{
					position: absolute;
					width: 100%;
					height: 110px;
					font-size: 52pt;
					text-align: center;
					margin: auto;
					top: 0; bottom: 0;
				}
			}

			.carouselSection{
				.innerCarousel{
					position: absolute;
					width: 100%;
					height: 838px;
					margin: auto;
					top: 0; bottom: 0;

					.carouselTitle{
						position: relative;
						width: 122px;
						height: 28px;
						line-height: 28px;
						margin: auto;
						margin-bottom: 47px;
						left: 0; right: 0;
						font-size: 28pt;
					}

					.carouselImages{
						position: relative;
						width: 100%;
						height: 647px;

						.carouselArrows{
							position: absolute;
							width: 1397px;
							height: 100%;
							margin: auto;
							left: 0; right: 0;

							.arrow{
								position: absolute;
								width: 100px;
								height: 100%;
								background-color: #fff;

								a{
									position: absolute;
									width: 100%;
									height: 100%;
									display: block;
									@include transitions(0.4s);

									&:hover{
										@include opacity(0.6);
									}

									i{
										position: absolute;
										margin: auto;
										top: 0; bottom: 0; left: 0; right: 0;
									}
								}
							}

							.leftArrow{
								left: 0;
							}

							.rightArrow{
								right: 0;
							}
						}


						.projectsWrapper{
							position: absolute;
							width: 100%;
							height: 100%;

							.projectPhoto{
								position: absolute;
								width: 1197px;
								height: 100%;
								box-sizing: border-box;
								margin: auto;
								left: 0; right: 0;
								@include transitions(1s);

								&:first-child{
									background-color: red;
									-webkit-transform: translate(-1297px, 0);
									   -moz-transform: translate(-1297px, 0);
									    -ms-transform: translate(-1297px, 0);
									     -o-transform: translate(-1297px, 0);
									        transform: translate(-1297px, 0);
								}
								&:nth-child(2){
									background-color: blue;
								}
								&:last-child{
									background-color: green;
									-webkit-transform: translate(1297px, 0);
									   -moz-transform: translate(1297px, 0);
									    -ms-transform: translate(1297px, 0);
									     -o-transform: translate(1297px, 0);
									        transform: translate(1297px, 0);
								}

								img{
									position: absolute;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
								}
							}
						}
					}

					.carouselNav{
						position: relative;
						width: 573px;
						height: 0;
						border-bottom: 1px solid red;
						margin: auto;
						margin-top: 96px;
						left: 0; right: 0;
					}
				}
			}


			.coming-up{top:100%;}
			.is-active{top: 0;}
			.passed-up{top:-100%;}

			.sprite{
				background-image: url(../img/icons/sprite_nav.png);
			    background-repeat: no-repeat;
			    display: block;
			}

			.sprite-leftArrow{
				width: 20px;
			    height: 35px;
			    background-position: -5px -5px;
			}
			.sprite-rightArrow{
				width: 20px;
			    height: 35px;
			    background-position: -30px -5px;
			}

			.sprite-downArrow{
				width: 30px;
			    height: 50px;
			    background-position: -5px -45px;
			}
			.sprite-upArrow{
				width: 30px;
			    height: 50px;
			    background-position: -40px -45px;
			}
		}

		
	}
// END GENERAL


// INDEX SECTION
	#indexWrapper{

		#mainLogo{
			position: absolute;
			width: 662px;
			height: 384px;
			margin: auto;
			top: 0; bottom: 0; right: 0; left: 232px;

			img{
				position: absolute;
				width: 100%;
			}
		}
	}
// END INDEX SECTION

// WELCOME SECTION
	#welcomeWrapper{}
// END WELCOME SECTION

// SERVICES INDEX SECTION
	#servicesWrapper{
		#servicesLetter{
			
			.introParagraph{
				margin-bottom: 124px;
			}

			.introQuotes{
				margin-bottom: 57px;
			}

			#servicesList{
				position: relative;
				width: 100%;

				#column-1{
					width: 283px;
				}
				#column-2{
					width: 362px;
				}
				#column-3{
					width: 368px;
				}
				#column-4{
					width: 283px;
				}

				th{
					height: 65px;
					vertical-align: top;
					text-align: left;
					font-size: 20pt;
					line-height: 25pt;
					font-family: serif;
					font-weight: bolder;
				}

				td{
					font-size: 9pt;
					line-height: 19pt;
					letter-spacing: 0.9pt;
					text-transform: uppercase;
				}
			}
		}
	}
// END SERVICES INDEX

































