@import 'global/mixins';
@import 'global/vars';

.testSquare{
	position: fixed;
	width: 158.6px;
	height: 100%;
	margin: auto;

	left: 0;
	border: 1px solid red;
	box-sizing: border-box;
	z-index: 1000;
}

// GENERAL
	#fullWrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		#mbrtWrapper{
			position: absolute;
			width: 100%;
			height: 100%;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			-webkit-font-smoothing: antialiased !important;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
			color: $mid-gray;

			#topLeftLogo{
				position: fixed;
				// top: 3vw;
				// left: 3.45vw;
				top: 1.5vw;
				left: 2.45vw;
				width: 9.37vw;
				height: 1.83vw;
				z-index: 1000000;

				img{
					position: absolute;
					width: 100%;
				}
			}

			#rightBarsNav{
				position: fixed;
				width: 3.85vw;
				height: 21.25vw;
				margin: auto;
				top: 0; bottom: 0;
				right: 0;
				z-index: 1000;

				.barsWrapper{
					position: absolute;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					text-align: right;

					.navBar{
						@include displayRight();
						height: 2px;
						margin-bottom: 1.41vw;
						cursor: pointer;
						@include transitions(0.6s);

						.navName{
							position: absolute;
							width: 11.8vw;
							height: 1.04vw;
							line-height: 1.04vw;
							top: -0.52vw;
							right: 0;
							box-sizing: border-box;
							font-size: 0.76vw;
							color: $nav-black-deactive;
							@include trans-delayed(0.6s, 0.2s);
						}
					}

					.deactiveNavBar{
						width: 100%;
						background-color: $nav-light-gray-active;

						&:hover{
							background-color: $nav-light-gray-deactive;
						}

						.navName{
							&:hover{
								color: $nav-black-active;
								padding-right: 1.49vw;
							}
						}
					}

					.activeNavBar{
						width: 166.2%;
						background-color: $nav-black-active;
					}
				}
			}

			.hiddenMainNav{
				display: none;
			}
			.crystalMainNav{
				@include opacity(0);
				-webkit-transform: translateY(0.5vw);
				   -moz-transform: translateY(0.5vw);
				    -ms-transform: translateY(0.5vw);
				     -o-transform: translateY(0.5vw);
				        transform: translateY(0.5vw);
			}

			.animatableMainNav{
				@include transitions(0.7s);
			}


			.mainSection{
				position: absolute;
				width: 100%;
				height: 100%;
				@include transitions(0.9s);
				will-change: transform;
			}

			.introSection{
				.introLetter{
					position: absolute;
					width: 67.5vw;
					min-width: 760px;
					height: 35.94vw;
					margin: auto;
					top: 0; bottom: 0; left: 0; right: 0;

					h1, h2, p{
						@include displayLeft();
						box-sizing: border-box;
						margin-top: 0;
					}

					.introTitle{
						height: 3.9vw;
						line-height: 3.9vw;
						h1{
							font-size: 3.64vw;
							@include writingBar();
							padding-right: 1vw;
						}
					}

					.introParagraph{
						p{
							font-size: 1.32vw;
							line-height: 1.59vw;
						}
					}

					.introQuotes{
						h2{
							font-size: 1.94vw;
						}
					}
				}
			}

			.coverSection{
				.nameSection{
					position: absolute;
					height: 5.73vw;
					line-height: 5.73vw;
					margin: auto;
					top: 0; bottom: 0;
					left: 0; right: 0;

					h1{
						@include displayLeft();
						margin: 0;
						padding-right: 1vw;
						box-sizing: border-box;
						font-size: 3.63vw;
						text-align: center;
						@include writingBar();
					}
				}
			}

			.contactSection{
				.contactLetter{
					position: absolute;
					width: 67.4vw;
					height: 22.35vw;
					margin: auto;
					top: 0; bottom: 0; left: 0; right: 0;

					.topBox{
						position: relative;
						width: 100%;
						height: 4.95vw;
						margin-bottom: 8.6vw;

						.contactTitle{
							@include displayLeft();
							width: 69%;
							height: 100%;

							h1{
								margin: 0;
								font-size: 3.64vw;
								@include writingBar();
								padding-right: 1vw;
							}
						}

						.contactButton{
							@include displayLeft();
							width: 31%;
							height: 100%;

							a{
								position: absolute;
								width: 10.48vw;
								height: 2.46vw;
								line-height: 2.46vw;
								margin: auto;
								top: 0; bottom: 0; left: 0; right: 0;
								border: 1px solid $light-gray;
								color: $mid-gray;
								font-weight: 700;
								font-size: 1.3vw;
								text-align: center;
								text-decoration: none;

								@include transitions(0.6s);

								&:hover{
									background-color: $light-gray;
									color: #fff;
								}
							}
						}
					}

					.bottomBox{
						position: relative;
						width: 100%;
						height: 8.98vw;
						box-sizing: border-box;

						.contactColumns{
							@include displayLeft();
							width: 16.2vw;
							height: 100%;

							.indexRow{
								height: 1.69vw;

								h5{
									position: absolute;
									margin: 0;
									font-size: 1.8vw;
									line-height: 1.65vw;
									border-right: 2px solid $mid-gray;
									padding-right: 0.5vw;
								}
							}

							.firstRow{
								width: 100%;

								.innerHeadRow{
									font-weight: 700;
									font-size: 1.3vw;
									line-height: 2vw;
								}

								.innerFootRow{
									font-size: 1.04vw;
									font-variant-numeric: lining-nums; 
									margin-top: -0.1vw;
									margin-bottom: 1.72vw;

									a{
										text-decoration: none;
										color: $mid-gray;
									}
								}
							}

							.secondRow{
								font-size: 1.04vw;
								font-variant-numeric: lining-nums; 
								a{
									text-decoration: none;
									color: $mid-gray;
								}

								.innerHeadRow{
									margin-bottom: 0.47vw;
								}
							}
						}
					}
				}
			}

			.carouselVertSection{
				.innerCarousel{
					position: absolute;
					width: 80.67vw;
					height: 47.5vw;
					margin: auto;
					top: 0; bottom: 0;
					right: 9.2vw; left: 0;

					.carouselTitle{
						position: relative;
						float: left;
						width: 18.54vw;
						height: 100%;

						h3{
							position: absolute;
							text-align: left;
							width: 16.14vw;
							height: 1.66vw;
							line-height: 1.66vw;
							font-size: 1.9vw;
							margin: auto;
							top: 0; bottom: 0;
						}
					}

					.arrow{
						position: relative;
						float: left;
						width: 5.2vw;
						height: 100%;
						margin: auto;
						@include transitions(0.4s);

						a{
							position: absolute;
							width: 100%;
							height: 100%;
							display: block;
							@include transitions(0.4s);

							&:hover{
								@include opacity(0.6);
							}

							i{
								position: absolute;
								margin: auto;
								top: 0; bottom: 0; left: 0; right: 0;
							}
						}
					}

					.firstArrow{
						a{
							display: none;
							@include opacity(0);
						}
					}

					.carouselImages{
						position: relative;
						float: left;
						width: 35.41vw;
						height: 43.75vw;
						top: 0;
						overflow: hidden;

						.projectsWrapper{
							width: 100%;
							height: 100%;
							margin: auto;
							left: 0; right: 0;
							overflow: hidden;

							.projectPhoto{
								position: absolute;
								width: 29.16vw;
								height: 100%;
								box-sizing: border-box;
								margin: auto;
								left: 0; right: 0;
								top: 0; bottom: 0;
								overflow: hidden;
								@include transitions(1.3s);
								will-change: transform;

								img{
									position: absolute;
									width: 100%;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
								}
							}

							.holdingBackPhoto{
								// background-color: aqua;
								-webkit-transform: translate(-70.82vw, 0);
								   -moz-transform: translate(-70.82vw, 0);
								    -ms-transform: translate(-70.82vw, 0);
								     -o-transform: translate(-70.82vw, 0);
								        transform: translate(-70.82vw, 0);

							}
							.previousPhoto{
								// background-color: red;
								-webkit-transform: translate(-35.41vw, 0);
								   -moz-transform: translate(-35.41vw, 0);
								    -ms-transform: translate(-35.41vw, 0);
								     -o-transform: translate(-35.41vw, 0);
								        transform: translate(-35.41vw, 0);

							}
							.currentPhoto{
								// background-color: blue;
								z-index: 1;
								@include trans-delayed(1.3s, 0.1s);

							}
							.nextPhoto{
								// background-color: green;
								-webkit-transform: translate(35.41vw, 0);
								   -moz-transform: translate(35.41vw, 0);
								    -ms-transform: translate(35.41vw, 0);
								     -o-transform: translate(35.41vw, 0);
								        transform: translate(35.41vw, 0);

							}
							.holdingFrontPhoto{
								// background-color: purple;
								-webkit-transform: translate(70.82vw, 0);
								   -moz-transform: translate(70.82vw, 0);
								    -ms-transform: translate(70.82vw, 0);
								     -o-transform: translate(70.82vw, 0);
								        transform: translate(70.82vw, 0);

							}
						}
					}

					.dataWrapper{
						position: relative;
						float: left;
						width: 16.17vw;
						height: 100%;
						@include boxSizeFit();
						padding-left: 3.12vw;

						.projectData{
							position: absolute;
							width: 100%;
							height: 100%;

							.innerCenteredBox{
								position: absolute;
								width: 100%;
								height: 11.2vw;
								margin: auto;
								top: 0; bottom: 0; 
								left: 0; right: 0;
								text-align: left;

								h5{
									position: relative;
									width: 100%;
									height: 1.04vw;
									line-height: 1.04vw;
									font-size: 1.28vw;
									margin: 0;
									margin-bottom: 0.36vw;
									color: $black;
								}

								.shiftData{
									position: relative;
									width: 100%;
									height: 0.83vw;
									line-height: 0.83vw;
									font-size: 1.04vw;
									margin-bottom: 1.77vw;

									p{
										position: absolute;
										margin: 0;
										@include transitions(0.7s);
									}

									.currentBrand{
										@include trans-delayed(0.7s, 0.7s);
									}
									.currentClient{
										@include trans-delayed(0.7s, 0.8s);
									}

									.currentBrand, .currentClient {
										z-index: 1;
										@include opacity(1);
										-webkit-transform: none;
										   -moz-transform: none;
										    -ms-transform: none;
										     -o-transform: none;
										        transform: none;
									}
									.nextBrand, .nextClient, .previousBrand, .previousClient {
										z-index: -1;
										@include opacity(0);
										-webkit-transform: translateY(0.5vw);
										   -moz-transform: translateY(0.5vw);
										    -ms-transform: translateY(0.5vw);
										     -o-transform: translateY(0.5vw);
										        transform: translateY(0.5vw);
									}
								}
							}
						}
					}

					.projectsBars{
						position: absolute;
						width: 47.92vw;
						height: 0.2vw;
						margin: auto;
						left: 5.4vw; right: 0;
						bottom: 0;

						ul{
							position: absolute;
							height: 100%;
							margin: 0;
							padding: 0;
							margin: auto;
							left: 0; right: 0;

							.singleBar{
								height: 100%;
								@include displayLeft();
								list-style-type: none;
								margin-left: 0.39vw;
								margin-right: 0.39vw;
								background-color: $light-gray;
								cursor: pointer;
								@include transitions(0.6s);
								overflow: hidden;

								&:hover{
									@include opacity(0.4);
								}

								.coverBar{
									position: absolute;
									width: 100%;
									height: 100%;
									background-color: $black;
									@include transitions(1s);
									-webkit-transform-origin: left;
									transform-origin: left;
								}

								.currentBar{
									@include trans-delayed(1s, 0.1s);
									-webkit-transform: none;
									   -moz-transform: none;
									    -ms-transform: none;
									     -o-transform: none;
									        transform: none;
								}

								.nextBar{
									-webkit-transform: translateX(-102%);
									   -moz-transform: translateX(-102%);
									    -ms-transform: translateX(-102%);
									     -o-transform: translateX(-102%);
									        transform: translateX(-102%);
								}

								.previousBar{
									-webkit-transform: translateX(102%);
									   -moz-transform: translateX(102%);
									    -ms-transform: translateX(102%);
									     -o-transform: translateX(102%);
									        transform: translateX(102%);
								}
							}
						}

						.sixBarsList{
							width: 35.93vw;

							li{
								width: calc(16.66% - 0.78vw);
							}
						}

					}
				}
			}

			.carouselSection{
				.innerCarousel{
					position: absolute;
					width: 100%;
					height: 43.65vw;
					margin: auto;
					top: 0; bottom: 0;

					.carouselTitle{
						position: relative;
						height: 1.9vw;
						line-height: 1.9vw;
						margin: auto;
						margin-bottom: 2.25vw;
						left: 0; right: 0;
						font-size: 1.78vw;
						text-align: center;

						h3{
							margin: 0;
						}
					}

					.carouselImages{
						position: relative;
						width: 100%;
						height: 33.85vw;

						.projectsWrapper{
							position: absolute;
							width: 62.5vw;
							height: 100%;
							margin: auto;
							left: 0; right: 0;
							overflow: hidden;

							.projectPhoto{
								position: absolute;
								width: 62.5vw;
								height: 100%;
								box-sizing: border-box;
								margin: auto;
								left: 0; right: 0;
								top: 0; bottom: 0;
								overflow: hidden;
								@include transitions(1.3s);
								will-change: transform;

								img{
									position: absolute;
									width: 100%;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
								}

								.projectData{
									position: absolute;
									width: 100%;
									height: 100%;
									background-color: rgba(255,255,255,0.9);
									@include transitions (0.4s);
									@include opacity(0);

									&:hover{
										@include opacity(1);
									}

									.innerCenteredBox{
										position: absolute;
										width: 16.41vw;
										height: 10.42vw;
										margin: auto;
										top: 0; bottom: 0; left: 0; right: 0;
										text-align: left;

										h5{
											position: relative;
											width: 100%;
											height: 1.04vw;
											line-height: 1.04vw;
											font-size: 1.28vw;
											margin: 0;
											margin-bottom: 0.36vw;
											color: $black;
										}

										p{
											position: relative;
											width: 100%;
											height: 0.83vw;
											line-height: 0.83vw;
											font-size: 1.04vw;
											margin: 0;
											margin-bottom: 1.77vw;
										}
									}

									.visitWebsite{
										position: absolute;
										width: 6.57vw;
										height: 1.48vw;
										line-height: 1.48vw;
										margin: auto;
										left: 0; right: 0;
										bottom: 3.45vw;
										border: 1px solid $mid-gray;

										a{
											position: absolute;
											display: block;
											width: 100%;
											height: 100%;
											text-decoration: none;
											text-align: center;
											font-size: 0.8vw;
											color: $mid-gray;
											background-color: $link-mid-gray-deactive;
											@include transitions(0.6s);

											&:hover{
												color: #fff;
												background-color: $link-mid-gray-active;
											}
										}
									}
								}
							}

							.holdingBackPhoto{
								// background-color: aqua;
								-webkit-transform: translate(-125vw, 0);
								   -moz-transform: translate(-125vw, 0);
								    -ms-transform: translate(-125vw, 0);
								     -o-transform: translate(-125vw, 0);
								        transform: translate(-125vw, 0);

							}
							.previousPhoto{
								// background-color: red;
								-webkit-transform: translate(-62.5vw, 0);
								   -moz-transform: translate(-62.5vw, 0);
								    -ms-transform: translate(-62.5vw, 0);
								     -o-transform: translate(-62.5vw, 0);
								        transform: translate(-62.5vw, 0);

							}
							.currentPhoto{
								// background-color: blue;
								z-index: 1;
								@include trans-delayed(1.3s, 0.1s);

							}
							.nextPhoto{
								// background-color: green;
								-webkit-transform: translate(62.5vw, 0);
								   -moz-transform: translate(62.5vw, 0);
								    -ms-transform: translate(62.5vw, 0);
								     -o-transform: translate(62.5vw, 0);
								        transform: translate(62.5vw, 0);

							}
							.holdingFrontPhoto{
								// background-color: purple;
								-webkit-transform: translate(125vw, 0);
								   -moz-transform: translate(125vw, 0);
								    -ms-transform: translate(125vw, 0);
								     -o-transform: translate(125vw, 0);
								        transform: translate(125vw, 0);

							}

							.justInsertedPhoto{
								z-index: -1;
								display: none;
							}
						}

						.arrow{
							position: absolute;
							width: 5.21vw;
							height: 100%;
							margin: auto;
							@include transitions(0.4s);

							a{
								position: absolute;
								width: 100%;
								height: 100%;
								display: block;
								@include transitions(0.4s);

								&:hover{
									@include opacity(0.6);
								}

								i{
									position: absolute;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
								}
							}
						}

						.leftArrow{
							left: 0;
							right: 67.7vw;
						}

						.rightArrow{
							left: 67.7vw;
							right: 0;
						}

						.firstArrow{
							display: none;
							@include opacity(0);
						}
					}

					.projectsBars{
						position: relative;
						width: 47.92vw;
						height: 0.2vw;
						margin: auto;
						left: 0; right: 0;
						margin-top: 4.69vw;

						ul{
							position: absolute;
							height: 100%;
							margin: 0;
							padding: 0;
							margin: auto;
							left: 0; right: 0;

							.singleBar{
								height: 100%;
								@include displayLeft();
								list-style-type: none;
								margin-left: 0.39vw;
								margin-right: 0.39vw;
								background-color: $light-gray;
								cursor: pointer;
								@include transitions(0.6s);
								overflow: hidden;

								&:hover{
									@include opacity(0.4);
								}

								.coverBar{
									position: absolute;
									width: 100%;
									height: 100%;
									background-color: $black;
									@include transitions(1s);
									-webkit-transform-origin: left;
									transform-origin: left;
								}

								.currentBar{
									@include trans-delayed(1s, 0.1s);
									-webkit-transform: none;
									   -moz-transform: none;
									    -ms-transform: none;
									     -o-transform: none;
									        transform: none;
								}

								.nextBar{
									-webkit-transform: translateX(-102%);
									   -moz-transform: translateX(-102%);
									    -ms-transform: translateX(-102%);
									     -o-transform: translateX(-102%);
									        transform: translateX(-102%);
								}

								.previousBar{
									-webkit-transform: translateX(102%);
									   -moz-transform: translateX(102%);
									    -ms-transform: translateX(102%);
									     -o-transform: translateX(102%);
									        transform: translateX(102%);
								}
							}
						}

						.fiveBarsList{
							width: 29.69vw;
							
							li{
								width: calc(20% - 0.78vw);
							}
						}

						.twoBarsList{
							width: 11.98vw;

							li{
								width: calc(50% - 0.78vw);
							}
						}

						.sixBarsList{
							width: 35.93vw;

							li{
								width: calc(16.66% - 0.78vw);
							}
						}

						.threeBarsList{
							width: 17.97vw;

							li{
								width: calc(33.33% - 0.78vw);
							}
						}

						.eightBarsList{
							width: 47.92vw;

							li{
								width: calc(12.5% - 0.78vw);
							}
						}

						.fourBarsList{
							width: 23.96vw;

							li{
								width: calc(25% - 0.78vw);
							}
						}
					}
				}
			}


			.coming-up{
				-webkit-transform: translateY(100%);
				   -moz-transform: translateY(100%);
				    -ms-transform: translateY(100%);
				     -o-transform: translateY(100%);
				        transform: translateY(100%);
		    }
			.is-active{
				-webkit-transform: none;
				   -moz-transform: none;
				    -ms-transform: none;
				     -o-transform: none;
				        transform: none;
		    }
			.passed-up{
				-webkit-transform: translateY(-100%);
				   -moz-transform: translateY(-100%);
				    -ms-transform: translateY(-100%);
				     -o-transform: translateY(-100%);
				        transform: translateY(-100%);
		    }

			.sprite{
				background-image: url(../img/icons/sprite_nav.png);
			    background-repeat: no-repeat;
			    display: block;
			}

			.sprite-leftArrow{
				width: 20px;
			    height: 35px;
			    background-position: -5px -5px;
			}
			.sprite-rightArrow{
				width: 20px;
			    height: 35px;
			    background-position: -30px -5px;
			}

			.sprite-downArrow{
				width: 40px;
			    height: 40px;
			    background-position: -5px -45px;
			}
		}

		
	}
// END GENERAL




// INDEX SECTION
	#indexWrapper{

		#mainLogo{
			position: absolute;
			width: 662px;
			height: 384px;
			margin: auto;
			top: 0; bottom: 0; right: 0; left: 232px;

			img{
				position: absolute;
				width: 100%;
			}
		}

		#startExploring{
			position: absolute;
			width: 50px;
			height: 80px;
			margin: auto;
			left: 0; right: 0;
			bottom: 50px;
			cursor: pointer;
			@include transitions(0.4s);

			&:hover{
				@include opacity(0.6);
			}

			.startText{
				position: relative;
				width: 100%;
				height: 25px;
				line-height: 25px;
				font-size: 11.5pt;
				letter-spacing: 2px;
				text-align: center;
				margin-bottom: 17px;
			}

			.startGo{
				position: relative;
				width: 100%;
				height: 40px;

				i{
					position: absolute;
					margin: auto;
					left: 0; right: 0; top: 0; bottom: 0;
				}
			}
		}
	}
// END INDEX SECTION

// WELCOME SECTION
	#welcomeWrapper{
		#receiverLetter{
			
			.introTitle{
				h1{
					margin-bottom: 1.66vw;
					color: $black;
				}
			}

			.introParagraph{
				p{
					margin-bottom: 2.1vw;
				}
			}

			.introQuotes{
				h2{
					margin-bottom: 2.3vw;
					color: $black;
				}
			}
		}
	}
// END WELCOME SECTION

// SERVICES INDEX SECTION
	#servicesWrapper{
		#servicesLetter{

			.introTitle{
				h1{
					margin-bottom: 1.67vw;
					color: $black;
				}
			}
			
			.introParagraph{
				p{
					margin-bottom: 4.48vw;
				}
			}

			.introQuotes{
				h2{
					margin-bottom: 2.18vw;
					color: $black;
				}
			}

			#servicesList{
				position: relative;
				width: 100%;

				#column-1{
					width: 14.74vw;
				}
				#column-2{
					width: 18.85vw;
				}
				#column-3{
					width: 19.17vw;
				}
				#column-4{
					width: 14.74vw;
				}

				th{
					height: 3.38vw;
					vertical-align: top;
					text-align: left;
					font-size: 1.29vw;
					line-height: 1.72vw;
					font-weight: bolder;
					color: $black;
				}

				td{
					font-size: 0.62vw;
					line-height: 1.33vw;
					letter-spacing: 0.06vw;
					text-transform: uppercase;

					@media screen and (max-width: 1280px) {
						font-size: 6pt;
					}
				}
			}
		}
	}
// END SERVICES INDEX

// BRANDING COVER SECTION
	#brandingCover{
		.nameSection{
			width: 16.93vw;
			color: $black;
		}
	}
// END BRANDING COVER

// LOGOS CAROUSEL SECTION
	#logosCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 5.95vw;
				color: $black;
			}
		}
	}
// END LOGOS CAROUSEL

// STATIONERY CAROUSEL SECTION
	#stationeryCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 10.3vw;
				color: $black;
			}
		}
	}
// END STATIONERY CAROUSEL

// BRAND COMMUNICATIONS COVER SECTION
	#communicationCover{
		.nameSection{
			width: 41.95vw;
			color: $black;
		}
	}
// END BRAND COMMUNICATIONS COVER

// PACKAGING & PRODUCT CAROUSEL SECTION
	#packagingCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 28.5vw;
				color: $black;
			}
		}
	}
// END PACKAGING & PRODUCT CAROUSEL

// UNIFORMS CAROUSEL SECTION
	#uniformsCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 28.5vw;
				color: $black;
			}
		}
	}
// END UNIFORMS CAROUSEL

// POINT OF SALE DESIGN CAROUSEL SECTION
	#POSCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 12vw;
				color: $black;
			}
		}
	}
// END POINT OF SALE DESIGN CAROUSEL

// INTERIORISM CAROUSEL SECTION
	#interiorismCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 11vw;
				color: $black;
			}
		}
	}
// END INTERIORISM CAROUSEL

// ADVERTISING CAROUSEL SECTION
	#advertisingCarousel{
		.innerCarousel{
			.carouselTitle{
				color: $black;
			}
		}
	}	
// END ADVERTISING CAROUSEL

// WEB COVER SECTION
	#webCover{
		.nameSection{
			width: 50.5vw;
			color: $black;
		}
	}
// END WEB COVER

// LUCKY WEBSITE CAROUSEL SECTION
	#luckyWebCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 12.5vw;
				color: $black;
			}
		}
	}
// END LUCKY WEBSITE CAROUSEL


// CAMILA WEBSITE CAROUSEL SECTION
	#camilaWebCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 18.5vw;
				color: $black;
			}
		}
	}
// END CAMILA WEBSITE CAROUSEL


// CONTACT FINAL SECTION
	#contactWrapper{
		.contactLetter{
			.contactTitle{
				h1{
					color: $black;
				}
			}

			.indexRow{
				h5{
					color: $black;
				}
			}

			.firstRow{
				.innerHeadRow{
					color: $black;
				}
			}
		}
	}
// END CONTACT






























