@import 'global/mixins';
@import 'global/vars';

.testSquare{
	position: fixed;
	width: 175px;
	height: 14px;
	margin: auto;
	left: 0; right: 0;
	bottom: 54px;
	border: 1px solid red;
	box-sizing: border-box;
}

// GENERAL
	#fullWrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		#mbrtWrapper{
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: scroll;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			-webkit-font-smoothing: antialiased !important;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		}

		.mainSection{
			position: relative;
			width: 100%;
			height: 100%;
			float: left;
		}

		.introSection{
			.introLetter{
				position: absolute;
				width: 1296px;
				height: 680px;
				margin: auto;
				top: 0; bottom: 0; left: 0; right: 0;

				h1, h2, p{
					@include displayLeft();
					box-sizing: border-box;
					margin: 0;
				}

				h1{
					margin-bottom: 30px;
				}

				h2, p{
					margin-bottom: 50px;
				}

				.introTitle{
					height: 75px;
					line-height: 75px;
					font-size: 52pt;
					border-right: 4pt solid $mid-gray;
					padding-right: 25px;
				}

				.introParagraph{
					font-size: 19pt;
					line-height: 23pt;
					color: $mid-gray;
				}

				.introQuotes{
					font-size: 28pt;
					height: 28px;
					line-height: 28px;
				}
			}
		}

		.coverSection{
			.nameSection{
				position: absolute;
				width: 100%;
				height: 110px;
				font-size: 52pt;
				text-align: center;
				margin: auto;
				top: 0; bottom: 0;
			}

			.footLogo{
				position: absolute;
				width: 176px;
				height: 32px;
				margin: auto;
				left: 0; right: 0;
				bottom: 45px;
			}
		}
	}
// END GENERAL


// INDEX SECTION
	#indexWrapper{

		#mainLogo{
			position: absolute;
			width: 507px;
			height: 74px;
			margin: auto;
			top: 0; bottom: 0; left: 434px; right: 0;

			img{
				position: absolute;
				width: 100%;
			}
		}
	}
// END INDEX SECTION

// WELCOME SECTION
	#welcomeWrapper{}
// END WELCOME SECTION

// SERVICES INDEX SECTION
	#servicesWrapper{
		#servicesLetter{
			
			.introParagraph{
				margin-bottom: 124px;
			}

			.introQuotes{
				margin-bottom: 57px;
			}

			#servicesList{
				position: relative;
				width: 100%;

				#column-1{
					width: 283px;
				}
				#column-2{
					width: 362px;
				}
				#column-3{
					width: 368px;
				}
				#column-4{
					width: 283px;
				}

				th{
					height: 65px;
					vertical-align: top;
					text-align: left;
					font-size: 20pt;
					line-height: 25pt;
					font-family: serif;
					font-weight: bolder;
				}

				td{
					font-size: 9pt;
					line-height: 19pt;
					letter-spacing: 0.9pt;
					text-transform: uppercase;
				}
			}
		}
	}
// END SERVICES INDEX

































