
// LOGOS CAROUSEL SECTION
	#logosCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 115px;
				color: $black;
				@media screen and (max-width: 1279px){
					width: 85px;
				}
			}
		}
	}
// END LOGOS CAROUSEL