
// STATIONERY CAROUSEL SECTION
	#stationeryCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 200px;
				color: $black;
				@media screen and (max-width: 1279px){
					width: 140px;
				}
			}
		}
	}
// END STATIONERY CAROUSEL