
// BRAND COMMUNICATIONS COVER SECTION
	#communicationCover{
		.nameSection{
			width: 820px;
			color: $black;
			@media screen and (max-width: 1279px){
				width: 540px;
			}
		}
	}
// END BRAND COMMUNICATIONS COVER