
// PACKAGING & PRODUCT CAROUSEL SECTION
	#packagingCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 550px;
				color: $black;
				@media screen and (max-width: 1279px){
					width: 390px;
				}
			}
		}
	}
// END PACKAGING & PRODUCT CAROUSEL