
// UNIFORMS CAROUSEL SECTION
	#uniformsCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 500px;
				color: $black;
				@media screen and (max-width: 1279px){
					width: 330px;
				}
			}
		}
	}
// END UNIFORMS CAROUSEL