
// LUCKY WEBSITE CAROUSEL SECTION
	#luckyCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 250px;
				color: $black;
				@media screen and (max-width: 1279px){
					width: 170px;
				}
			}
		}
	}
// END LUCKY WEBSITE CAROUSEL