
// CAMILA WEBSITE CAROUSEL SECTION
	#camilaCarousel{
		.innerCarousel{
			.carouselTitle{
				width: 360px;
				color: $black;
				@media screen and (max-width: 1279px){
					width: 250px;
				}
			}
		}
	}
// END CAMILA WEBSITE CAROUSEL