@mixin displayLeft(){
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}

@mixin transitions($timing){
	-webkit-transition: all $timing ease-in-out;
	   -moz-transition: all $timing ease-in-out;
	    -ms-transition: all $timing ease-in-out;
	     -o-transition: all $timing ease-in-out;
	        transition: all $timing ease-in-out;
}

@mixin opacity($val){
	opacity: $val;
	filter: alpha(opacity=($val * 100));
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(($val * 100))';
}