// Desktop 1920x1080 Resize
@media screen and (max-width: 1849px){
	#fullWrapper{
		#mbrtWrapper{
			// Contact Section
			.contactSection{
				.contactLetter{
					.topBox{
						height: 19.4%;

						.contactTitle{
							h1{
								font-size: 62px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 14%;

								h5{
									font-size: 33.2px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 24px;
								}

								.innerFootRow{
									font-size: 19.1px;
								}
							}

							.secondRow{
								font-size: 19.1px;
							}
						}
					}
				}
			}
		}
	}
}

// Desktop 1920x1080 Resize Intermediate Fix
@media screen and (max-width: 1750px){
	#fullWrapper{
		#mbrtWrapper{
			// Global Right Navigator
			#rightBarsNav{
				.barsWrapper{
					.navBar{
						.navName{
							font-size: 0.6em;
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					.topBox{
						.contactTitle{
							h1{
								font-size: 58px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 13.5%;

								h5{
									font-size: 31.4px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 22.7px;
								}

								.innerFootRow{
									font-size: 18.1px;
								}
							}

							.secondRow{
								font-size: 18.1px;
							}
						}
					}
				}
			}

			// Services Section
			#servicesWrapper{
				#servicesLetter{
					#servicesList{
						td{
							font-size: 8px;
						}
					}
				}
			}
		}
	}
}

// Desktop 1920x1080 Resize
@media screen and (max-width: 1649px){
	#fullWrapper{
		#mbrtWrapper{
			// Vertical Carousel Section
			.carouselVertSection{
				.innerCarousel{
					.carouselTitle{
						h3{
							width: 93%;
							height: 31px;
							font-size: 29.6px;
						}
					}

					.dataWrapper{
						.projectData{
							.innerCenteredBox{
								height: 18%;

								h5{
									font-size: 20px;
								}

								.shiftData{
									height: 6.9%;
									font-size: 17px;
								}
							}
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					.topBox{
						height: 15.4%;
						.contactTitle{
							h1{
								font-size: 50px;
							}
						}

						.contactButton{
							a{
								font-size: 18px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 13.5%;

								h5{
									font-size: 29.6px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 21.5px;
								}

								.innerFootRow{
									font-size: 17.1px;
								}
							}

							.secondRow{
								font-size: 17.1px;
							}
						}
					}
				}
			}
		}
	}
}

// Desktop 1920x1080 Resize Intermediate Fix
@media screen and (max-width: 1400px){
	#fullWrapper{
		#mbrtWrapper{
			// Global Right Navigator
			#rightBarsNav{
				.barsWrapper{
					.navBar{
						.navName{
							font-size: 0.45em;
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					.topBox{
						.contactTitle{
							h1{
								font-size: 45px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 11%;

								h5{
									font-size: 25.1px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 18.2px;
								}

								.innerFootRow{
									font-size: 14.5px;
								}
							}

							.secondRow{
								font-size: 14.5px;
							}
						}
					}
				}
			}
		}
	}
}

// Laptop and Tablet Min Size
@media screen and (max-width: 1279px){
	#fullWrapper{
		#mbrtWrapper{
			// Cover Section
			.coverSection{
				.nameSection{
					h1{
						font-size: 45px;
					}
				}
			}

			// Carousel Section
			.carouselSection{
				.innerCarousel{
					.carouselTitle{
						font-size: 23.8px;
					}

					.carouselImages{
						.projectsWrapper{
							.projectPhoto{
								.projectData{
									.innerCenteredBox{
										height: 21.8%;

										h5{
											font-size: 16.9px;
										}

										p{
											height: 6.5%;
											font-size: 14px;
										}
									}

									.visitWebsite{
										width: 86px;
										height: 23px;
										line-height: 1.4em;

										a{
											font-size: 10.5px;
										}
									}
								}
							}
						}
					}

					.projectsBars{
						height: 2px;

						ul{
							.singleBar{
								margin-left: 3px;
								margin-right: 3px;
							}
						}

						.fiveBarsList{
							li{
								width: calc(20% - 6px);
							}
						}

						.twoBarsList{
							li{
								width: calc(50% - 6px);
							}
						}

						.sixBarsList{
							li{
								width: calc(16.66% - 6px);
							}
						}

						.threeBarsList{
							li{
								width: calc(33.33% - 6px);
							}
						}

						.eightBarsList{
							li{
								width: calc(12.5% - 6px);
							}
						}

						.fourBarsList{
							li{
								width: calc(25% - 6px);
							}
						}
					}
				}
			}

			// Vertical Carousel Section
			.carouselVertSection{
				.innerCarousel{
					.carouselTitle{
						h3{
							width: 100%;
							height: 24px;
							font-size: 22px;
						}
					}

					.dataWrapper{
						.projectData{
							.innerCenteredBox{
								height: 12.5%;

								h5{
									font-size: 16.9px;
								}

								.shiftData{
									height: 6.4%;
									font-size: 14px;
								}
							}
						}
					}

					.projectsBars{
						height: 2px;

						ul{
							.singleBar{
								margin-left: 3px;
								margin-right: 3px;
							}
						}

						.sixBarsList{
							li{
								width: calc(16.66% - 6px);
							}
						}
					}
				}
			}

			// Contact Section
			.contactSection{
				.contactLetter{
					.topBox{
						height: 11.5%;

						.contactTitle{
							h1{
								font-size: 36px;
							}
						}

						.contactButton{
							a{
								font-size: 13px;
							}
						}
					}

					.bottomBox{
						.contactColumns{
							.indexRow{
								height: 10%;
								
								h5{
									font-size: 23px;
								}
							}

							.firstRow{
								.innerHeadRow{
									font-size: 16.6px;
								}

								.innerFootRow{
									font-size: 13.2px;
								}
							}

							.secondRow{
								font-size: 13.2px;
							}
						}
					}
				}
			}

			// Services Section
			#servicesWrapper{
				#servicesLetter{
					#servicesList{
						td{
							font-size: 7px;
						}
					}
				}
			}

			// Branding Cover
			#brandingCover{
				.nameSection{
					width: 235px;
				}
			}

			// Logos Carousel
			#logosCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 85px;
					}
				}
			}

			// Stationery Carousel
			#stationeryCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 140px;
					}
				}
			}

			// Brand Communications Cover
			#communicationCover{
				.nameSection{
					width: 540px;
				}
			}

			// Packaging Carousel
			#packagingCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 390px;
					}
				}
			}

			// Uniforms Carousel
			#uniformsCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 330px;
					}
				}
			}

			// POS Carousel
			#POSCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 160px;
					}
				}
			}

			// Interiorism Carousel
			#interiorismCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 155px;
					}
				}
			}

			// Web Cover
			#webCover{
				.nameSection{
					width: 650px;
				}
			}

			// Lucky Carousel
			#luckyCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 170px;
					}
				}
			}

			// Camila Carousel
			#camilaCarousel{
				.innerCarousel{
					.carouselTitle{
						width: 250px;
					}
				}
			}
		}
	}
}